spring:
  application:
    name: trakr
  datasource:
    url: jdbc:postgresql://postgres:${DB_PORT}/${POSTGRES_DB}
    username: ${DATASOURCE_USERNAME}
    password: ${DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    # show-sql: true
    properties:
      hibernate:
        "[format_sql]": true

jwt:
  secret: ${JWT_SECRET}
